<app-logintoolbar></app-logintoolbar>
<!--Main Layout-->
<!-- <main class="text-center py-5">
    
        
        
    
        <form [formGroup]="authform">
            
           <input type="email" placeholder="Your email please..."  formControlName="email">
       
           <input type="password" placeholder="Your password please..."  formControlName="password">
       
           <input type="submit" value="Submit" (click)="makeAuth()">
         </form>

</main> -->
<!--Main Layout-->
  