<app-toolbar></app-toolbar>

<ngx-loading [show]="ngxloading"></ngx-loading>
    <!-- Main -->
    <main>
        <div class="container">
            <div class="row mt-5 pt-5">
                <div class="col text-center">
                    <h2>
                      <logo>
                            <img class="logoimage" [src]="appImage" alt="Issuer"><a class="logo navbar-brand" href="#"></a>
                      </logo>
                      {{appName?appName:' some app'}}
                    </h2>
                    <p>There is the list of issues raised by {{appDBNAMEURLFORUSER?appDBNAMEURLFORUSER:' there!'}}.</p>
                </div>
            </div>

            <div class="row" *ngIf="showapplistsusersissues == 0">

              <div class="col text-center"> 
                  
                         
                <table class="table table-hover table-responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Page</th>
                        <th>Code</th>
                        <th>Time</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Notes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of applistsusersissues"> 
                        <th scope="row">{{i.rowid}}</th>
                        <td>{{i.page}}</td>
                        <td>{{i.schema}}</td>
                        <td>{{i.time}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.city+' '+i.country}}</td>
                        <td>{{i.tracker}}</td>
                      </tr>
                      <!-- <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr> -->
                    </tbody>
                </table>
              </div>
            </div>


            <div class="row"  *ngIf="showapplistsusersissues == 1">
                
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12" >
                    Loading...
                </div>
            </div>

            <div class="row" *ngIf="showapplistsusersissues == 2">
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12 text-center" >
                    <img src="assets/img/no-record-found.gif" class="norecord">
                </div>
            </div>

        </div>
    </main>
    <!-- /.Main -->